.inc{

    position: absolute;

width: 226px;

height: 58px;

left: 79px;

top: 360px;

color: black;

background: #FFFFFF;

}

 

.inc2{

    position: absolute;

width: 136px;

height: 33px;

left: 124px;

top: 372px;

font-weight: 300;

font-size: 24px;

line-height: 29px;

/* background-color: #FFFFFF;

color: #000000 !important; */

}

 

.dec{

    position: absolute;

width: 226px;

height: 58px;

left: 332px;

top: 360px;

color: black;

background: #FFFFFF

}

 

.dec2{

    position: absolute;

width: 120px;

height: 33px;

left: 385px;

top: 372px;

font-weight: 300;

font-size: 24px;

line-height: 29px;

/* background-color: #FFFFFF;

color: #000000 !important */

}

 

.reset1{

   

box-sizing: border-box;

 

position: absolute;

width: 226px;

height: 58px;

left: 585px;

top: 360px;

 

border: 1px solid #FFFFFF;

}

 

.reset2{

    position: absolute;

width: 189px;

height: 33px;

left: 604px;

top: 372px;

font-weight: 300;

font-size: 24px;

line-height: 29px;

text-align: center;

 

color: #FFFFFF;

}