@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 

* {

  font-family: 'Poppins', sans-serif;

  background-color: black;

  color: whitesmoke;

}

 

.heading {

  position: absolute;

  width: 670px;

  height: 144px;

  left: 79px;

  top: 92px;

  font-weight: 400;

  font-size: 64px;

  line-height: 77px

}

 

.countval{

  position: absolute;

  width: 327px;

  height: 29px;

  left: 79px;

  top: 198px;

  font-weight: 300;

font-size: 24px;

line-height: 29px;

}